name: "nightly"

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: "0 5 * * 1-5"

permissions:
  contents: write

jobs:
  nightly_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo +nightly build --all
